<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>SmsServlet</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.SmsServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SmsServlet</servlet-name>
        <url-pattern>/Sms.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderInputServlet</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.OrderInputServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderInputServlet</servlet-name>
        <url-pattern>/orderinput.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/Testser.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderTuiHuoServlet</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.OrderTuiHuoServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderTuiHuoServlet</servlet-name>
        <url-pattern>/Tuihuo.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletXq</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.ServletXq</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletXq</servlet-name>
        <url-pattern>/servletXq</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletList</servlet-name>
        <servlet-class>com.itoyokado.cms.serverlet.ServletList</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletList</servlet-name>
        <url-pattern>/servletDemo</url-pattern>
    </servlet-mapping>
</web-app>
